@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --header-height: 70px;
    --tab-bar-height: 49px;
}

@layer base {
    html,
    body,
    #app {
        @apply h-full;
        @apply relative;
    }

    body {
        @apply overflow-hidden;
    }
}

/* for map */
.anim-circle {
    color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(16, 185, 129, 0.3);
    cursor: pointer;
    animation: bubble-pulse 3s ease infinite alternate;
}

.anim-circle:hover {
    background: rgba(16, 185, 129, 0.6);
}
/* 42-60 18 */
/* 32-46 14 */
/* 21-30 9 */
@keyframes bubble-pulse {
    to {
        transform: sacle(0.7);
    }
}
