@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --header-height: 70px;
    --tab-bar-height: 49px;
}

@layer base {
    html,
    body,
    #app {
        @apply h-full;
        @apply overflow-hidden;
    }
}

.anim-circle {
    color: transparent;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: rgba(255, 165, 0, 0.3);
    cursor: pointer;
    animation: breathe 5s ease-in-out infinite;
}

.anim-circle:hover {
    background: rgba(255, 165, 0, 0.6);
}
/* 42-60 18 */
/* 32-46 14 */
/* 21-30 9 */
@keyframes breathe {
    0% {
        width: 21px;
        height: 21px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    100% {
        width: 21px;
        height: 21px;
    }
}

#tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
}

#tooltip[data-popper-placement^="top"] > #arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
    top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
    right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
    left: -4px;
}

#tooltip {
    /* ... */
    display: none;
}

#tooltip[data-show] {
    display: block;
}
